name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
    paths:
      - "video-nextjs-firebase-ssr/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: video-nextjs-firebase-ssr/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./video-nextjs-firebase-ssr

      - name: Build Next.js
        run: npm run build
        working-directory: ./video-nextjs-firebase-ssr
        env:
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          channelId: live
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
          entryPoint: ./video-nextjs-firebase-ssr
